@using Accountant.MVC.Models.DropDowns
@model Accountant.MVC.Models.Balance

@{
    ViewData["Title"] = "CreateFromAnual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar Balance Mensual</title>
</head>
<body>

    <h4>Balance @ViewBag.Year.Year</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" value="@ViewBag.Year.Id" asp-for="AnualBalanceId" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="MonthId" class="control-label">Mes</label>
                    <select asp-for="MonthId" class="form-control">
                        @foreach (EMonth item in ViewBag.MonthList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MonthId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                    <a type="btn" class="btn btn-outline-danger" asp-controller="AnualBalance" asp-action="Details" asp-route-id="@ViewBag.Year.Id">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
