@model Accountant.MVC.Dtos.BalanceDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles | @Model.Balance.Month.Name</title>
</head>
<body>

    <h2>@Model.Balance.Month.Name @Model.Year.Year</h2>
    <hr />

    <h4>Ingresos: $@Model.Balance.TotalIncomes</h4>
    <hr />

    <a type="button" class="btn btn-lg addIncome" asp-controller="Income" asp-action="Create" asp-route-id="@Model.Balance.Id"><i class="fa fa-plus-circle"></i></a>

    <table class="table shadow-lg p-3 mb-5 bg-white rounded">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Descripcion</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Income item in Model.Balance.Incomes)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Description)</th>
                    <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    <td>
                        <a type="button" class="btn editItem" asp-controller="Income" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>

                        <a type="button" class="btn deleteItem" asp-controller="Income" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <h4>Gastos: $@Model.Balance.TotalSpendings</h4>
    <hr />
    <a type="button" class="btn btn-lg addSpending" asp-controller="Spending" asp-action="Create" asp-route-id="@Model.Balance.Id"><i class="fa fa-plus-circle"></i></a>
    <table class="table shadow-lg p-3 mb-5 bg-white rounded">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Descripcion</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Spending item in Model.Balance.Spendings)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Description)</th>
                    <td>$@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    <td>
                        <a type="button" class="btn editItem" asp-controller="Spending" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>

                        <a type="button" class="btn deleteItem" asp-controller="Spending" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a type="btn" class="btn backArrow " asp-controller="AnualBalance" asp-action="Details" asp-route-id="@Model.Balance.AnualBalanceId"><i class="fa fa-arrow-left"></i></a>
    </div>
</body>
</html>
