@model IEnumerable<Accountant.MVC.Models.Balance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
</head>
<body>
    <p>
        <a asp-controller="Balance" asp-action="Create">Nuevo Mes</a>
    </p>
    @foreach (Balance item in Model)
    {
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Month.Name)</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ingresos Totales: @Html.DisplayFor(modelItem => item.TotalIncomes)</li>
                <li class="list-group-item">Egresos Totales: @Html.DisplayFor(modelItem => item.TotalSpendings)</li>
                <li class="list-group-item">Positivo: @Html.DisplayFor(modelItem => item.Positive)</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Balance" asp-action="Details" asp-route-id="@item.Id">Administrar</a>
                |
                <a asp-controller="Balance" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </div>
        </div>

        <div>
            <a type="btn" class="btn backArrow " asp-controller="AnualBalance" asp-action="Index"><i class="fa fa-arrow-left"></i></a>
        </div>
    }
</body>
</html>
