@using Accountant.MVC.Models.DropDowns;
@model Accountant.MVC.Dtos.IncomeDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Añadir Ingreso</title>
</head>
<body>

    <h4>Ingreso</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Income" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Income.BalanceId" class="control-label">Balance de:</label>
                    <select asp-for="Income.BalanceId" class="form-control" asp-items="ViewBag.BalanceId">
                    @foreach (AnualBalance anual in Model.AnualBalances)
                    {
                        foreach (Balance balance in anual.Balances)
                        {
                            <option value="@balance.Id">@anual.Year - @balance.Month</option>
                        }
                    }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Income.Category" class="control-label"></label>
                    <select asp-for="Income.Category" class="form-control">
                        @foreach (EIncomeType item in Model.Categories)
                        {
                            <option value="@item.CategoryName">@item.CategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="Income.Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Income.Description" class="control-label"></label>
                    <input type="text" maxlength="40" asp-for="Income.Description" class="form-control" required/>
                    <span asp-validation-for="Income.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Income.Amount" class="control-label"></label>
                    <input required min="0" asp-for="Income.Amount" class="form-control" />
                    <span asp-validation-for="Income.Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Income.Date" class="control-label"></label>
                    <input type="date" asp-for="Income.Date" class="form-control" />
                    <span asp-validation-for="Income.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-outline-primary" />
                    |
                    <a type="button" class="btn btn-outline-danger" asp-controller="AnualBalance" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
